{% extends 'website/base.html' %}
{% load static %}


{% block content %}    
    <section class="section space-section">
        <div class="container has-text-centered">
            <div class="columns is-centered" style="padding: 2rem">
                <div class="column is-mobile">
                    <div class="card" style="background-color: #F7913C;">
                        <div class="card-content">
                            <h1 class="title has-text-white typewriter-effect">EMPODERAR PARA TRANSFORMAR</h1>
                            <div class="content">
                                <p class="subtitle has-text-white">
                                    Há mais de 65 anos, beneficiando famílias em vulnerabilidade social!
                                </p> 
                            </div>
                            <span>
                                <button class="button is-white is-outlined">Saiba Mais</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column is-mobile">
                    <div class="card" style="background-color: #952A78;">
                        <div class="card-content">
                            <h1 class="title has-text-white typewriter-effect">SEJA UM VOLUNTÁRIO</h1>
                            <div class="content">
                                <p class="subtitle has-text-white">
                                    Faça parte da nossa causa! Doe seu tempo, dedicação ou talento.
                                </p> 
                            </div>
                            <span>
                                <button class="button is-white is-outlined">Saiba Mais</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column is-mobile">
                    <div class="card has-background-primary">
                        <div class="card-content">
                            <h1 class="title has-text-white typewriter-effect">APOIE NOSSO PROJETO SOCIAL</h1>
                            <div class="content">
                                <p class="subtitle has-text-white">
                                    Uma sociedade melhor depende de você!
                                </p> 
                            </div>
                            <span>
                                <button class="button is-white is-outlined">Saiba Mais</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
   
    <section class="section space-section has-background-light">
        <h2 class="has-text-centered">Nossa atuação</h2>
        <div class="container has-text-centered" style="padding: 2rem">
            <div class="columns is-centered">
                <div class="column is-mobile">
                    <div class="card">
                        <figure class="image">
                            <img src="{% static 'images/image3-atuacao.jpg' %}" alt="Demonstrações">
                        </figure>
                    </div>
                </div>
                <div class="column is-mobile">
                    <div class="card">
                        <figure class="image">
                            <img src="{% static 'images/image2-atuacao.jpg' %}" alt="Demonstrações">
                        </figure>
                    </div>
                </div>
                <div class="column is-mobile">
                    <div class="card">
                        <figure class="image">
                            <img src="{% static 'images/image1-atuacao.jpg' %}" alt="Demonstrações">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-mobile">
                    <div class="card">
                        <figure class="image">
                            <img src="{% static 'images/71_1.jpg' %}" alt="Demonstrações">
                        </figure>
                    </div>
                </div>
                <div class="column is-mobile">
                    <div class="card">
                        <figure class="image">
                            <img src="{% static 'images/002.jpg' %}" alt="Demonstrações">
                        </figure>
                    </div>
                </div>
                <div class="column is-mobile">
                    <div class="card">
                        <figure class="image">
                            <img src="{% static 'images/001.jpg' %}" alt="Demonstrações">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section space-section">
        <h2 class="has-text-centered">Centros Especializados</h2>
        <div class="container has-text-centered">
            <div class="columns is-centered" style="padding: 2rem">
                <div class="column is-mobile">
                    <div>
                        <figure class="image image-specialized-centers">
                            <img src="{% static 'images/educacao_ambiental.png' %}" alt="Demonstrações">
                        </figure>
                    </div>
                    <hr>
                    <span class="label-specialized-centers">Educação Ambiental</span>
                </div>
                <div class="column is-mobile">
                    <div>
                        <figure class="image image-specialized-centers">
                            <img src="{% static 'images/educacao_em_cultura.png' %}" alt="Demonstrações">
                        </figure>
                    </div>
                    <hr>
                    <span class="label-specialized-centers">Eduação em Cultura</span>
                </div>
                <div class="column is-mobile">
                    <div>
                        <figure class="image image-specialized-centers">
                            <img src="{% static 'images/educacao_em_saude.png' %}" alt="Demonstrações">
                        </figure>
                    </div>
                    <hr>
                    <span class="label-specialized-centers">Educação em Saúde</span>
                </div>
                <div class="column is-mobile">
                    <div>
                        <figure class="image image-specialized-centers">
                            <img src="{% static 'images/educao_pelo_esporte.png' %}" alt="Demonstrações">
                        </figure>
                    </div>
                    <hr>
                    <span class="label-specialized-centers">
                        Educação pelo Esporte
                    </span>
                </div>
            </div>
        </div>
    </section>
    
    {% if notices %}
    <section class="section space-section has-background-light">
        <h2 class="has-text-centered">Fique por dentro das novidades da Fundação Julita</h2>
        <div class="container has-text-centered" style="padding: 2rem">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="columns is-multiline">
                        
                        {% for notice in  notices %}
                        <div class="column is-4">
                            <article class="columns is-multiline">
                                <div class="column is-12">
                                    <img src="{{notice.cover_image.url}}" alt="Featured Image">
                                </div>
                                <div class="column is-12">
                                    <span class="heading notice-date">{{notice.published_date}}</span>
                                    <h1 class="has-text-left notice-title">{{notice.title}}</h1>
                                    <br>
                                    <p class="has-text-left">
                                        {{notice.text}}
                                    </p>
                                    <br>
                                    <span class="has-addons-left">
                                        <button class="button is-outlined notice-button-view-more">Saiba Mais</button>
                                    </span>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}
